<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="stylesheets/sobre_nos.css" />
</head>

<body>
  <%- include('nav.ejs') %>
  <section>
    <div class="about_us_container">
      <div class="about_us_column">
        <h1>Recicla Têxtil</h1>
        <h2>Recicle, Doe, Faça a Diferença!</h2>
        <p>
          A <b>Recicla Têxtil (RT)</b> é uma plataforma online dedicada à doação e reutilização de roupas. Acreditamos
          que cada peça de roupa merece uma segunda chance e que todos merecem ter acesso a roupas de qualidade. O nosso
          objetivo é unir pessoas através da reciclagem têxtil, promovendo a solidariedade e a sustentabilidade na moda.
          <br> <br>

          Com o slogan <b>"Recicle, Doe, Faça a Diferença!"</b>, a <b>RT</b> incentiva todos a doar roupas que já
          não usam, ajudando
          a reduzir o desperdício e a dar um novo propósito a essas peças. Ao mesmo tempo, proporcionamos a oportunidade
          para que todos possam encontrar seu estilo único, sem custos e de forma sustentável.
          <br> <br>
          Junte-se a nós na <b>RT</b> e faça parte desta revolução na moda, onde a reciclagem têxtil encontra a
          solidariedade
          e juntos podemos fazer a diferença!
        </p>
      </div>
      <div class="about_us_image">
        <img src="/images/about_us_image.png" alt="">
      </div>
    </div>
  </section>
</body>

</html>